* {
  font-family: sans-serif;
  margin: 0;
}

.pageTitle {
    text-align: center;
    padding: 10px;
    color: #4C4948;
}




header {
  box-sizing: border-box;
  display: flex;
  margin-top: 0;
  background-color: #4C4948;
  padding: 1px;
  color: white;
  font-size: calc(.9em + 1vw);
  height: 10%;
  width: 100%;
  overflow: hidden;
}

header span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

header img{

  width: 50px;
  height: 50px;
}

header h1 {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #E9EFF6;
}


main{
  flex: 1;
}

footer {
  box-sizing: border-box;
  display: flex;
  background-color: #4C4948;
  color: white;
  height: 50px;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: auto;
}

@media screen and (max-width: 499px) {
   header {
   }
}
