* {
  font-family: sans-serif;
  margin: 0;
}

header {
  box-sizing: border-box;
  display: flex;
  margin-top: 0;
  background-color: #f1f1f1;
  padding: 1px;
  color: white;
  font-size: 28px;
  height: 80px;
  width: 100%;
  overflow: hidden;
}

header span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

header img{

  width: 50px;
  height: 50px;
}

header h1 {
    margin-top: auto;
    margin-bottom: auto;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1;
}

footer {
  box-sizing: border-box;
  display: flex;
  background-color: #f1f1f1;
  height: 50px;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: auto;
}
