.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap{
  padding: 30px;
  font-family: sans-serif;
  text-align: center;
}

.backbutton {
  height: 50px;
  width: 100px;
  float: left;
  margin: 15px;
  margin-bottom: 0;
}

.notes {
  background: white;
  border-radius: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
  background-color: #B4AC96;
  text-align: center;
  color: white;
  border-radius: 20px 20px 0 0;
}

ul {
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

ul li {
  list-style-type: none;
    background: #cce5ff;
    margin: 4px;
    padding: 8px;
    border-radius: 5px;
}

.exercisesandvideos {
  background: white;
  border-radius: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.exercisesandvideos h3{
  text-align: center;
  padding: 5px;
}

.exercisesandvideos h4{
  text-align: center;
  padding: 5px;
}

iframe{
  width: 640px;
  height: 360px;
}

@media screen and (max-width: 720px) {

  wrapper{
    width: 100%;
  }
    wrap{
      width: 100%;
      padding: 0;
    }

  iframe{
    width: 100%;
    height: 56.25%;
  }

}
