.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrap{
  padding: 30px;
  font-family: sans-serif;
  text-align: center;
}

body {
  background-image: url("../images/front-page-image.jpg");
  background-size:cover;

}

/* Dropdown Button */
.dropbtn {
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    padding: 40px;
    width: 234px;

    background-color: #00DCFF;
    border: 2px solid #00DCFF;
    border-radius: 20px;

    font-size: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Dropdown button on hover & focus */
  .dropbtn:hover {
      background-color: #2E93A4;
      border: 2px solid #2E93A4;
      }

   .dropbtn:focus{
   	color: #2E93A4;
   	background-color: white;
      border: 2px solid #2E93A4;
   }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: -4%;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 234px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


@media only screen and (max-width: 600px) {
    body {
        background-position: -250px 0px;
    }
}
