.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrap{
  border: 1px solid #ccc;
  padding: 30px;
  font-family: sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}
